What function would you like to perform?

<form method="post" action="/radio_buttons">
	<input type="radio" name="radio_buttons" value="addition" /> Addition </br>
	<input type="radio" name="radio_buttons" value="subtraction" /> Subtraction </br>
	<input type="radio" name="radio_buttons" value="multiplication" /> Multiplication </br>
   	<input type="radio" name="radio_buttons" value="division" /> Division </br>
  	<input type="submit">
</form>